.category-link {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .category-link:hover {
    background-color: #f8f9fa;
    transform: translateY(-5px);
  }
  
  .btn-sm {
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
  }
  
  .btn-success:hover, .btn-warning:hover, .btn-danger:hover {
    opacity: 0.8;
  }
  
  .text-white {
    color: white;
  }
  