/* SubHeader.css */
.subHeader {
  background-color: #3a415a;
  border: #3a415a;
}

.subHeader ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; 
}

.subHeader li {
  border: #3a415a 2px solid;
  border-radius: 4px;
  text-align: center;
  font-size: 10px;
}

.add-category {
  background-color: #3a415a; /* Puedes elegir el color que prefieras */
  border: #3a415a 2px solid;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 10px;
  color: #3a415a;
  text-decoration: none;
  transition: background-color 0.3s;
}

.add-category:hover {
  background-color: #3a415a; /* Cambia el color en hover si lo deseas */
}
