.subHeader {
  background-color: #cbdad5;
  border: #89a7b1;
  padding: 10px;
  position: absolute;
  top: 50px; 
  width: 100%;
  z-index: 999;
}

.subHeader ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; 
}

.subHeader li {
  border: #d7c8b6 2px solid;
  padding: 10px 15px;
  border-radius: 4px;
  text-align: center;
  font-size: 10px;
}

.add-category {
  background-color: #f4a261; /* Puedes elegir el color que prefieras */
  border: #d7c8b6 2px solid;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 10px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.add-category:hover {
  background-color: #e76f51; /* Cambia el color en hover si lo deseas */
}
