#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2; /* Asegúrate de que esté detrás del blur-overlay */
}

.background-row {
  display: flex;
  width: 300%; /* Ajusta el ancho para permitir el desplazamiento */
  height: 33.33%;
  position: absolute;
}

.background-image {
  width: 33.33%;
  height: 100%;
  object-fit: cover;
}

.row1 {
  top: 0;
  animation: moveLeft 10s linear infinite;
}

.row2 {
  top: 33.33%;
  animation: moveRight 10s linear infinite;
}

.row3 {
  top: 66.66%;
  animation: moveLeft 10s linear infinite;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.66%); /* Ajusta para mover una fila completa */
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(66.66%); /* Ajusta para mover una fila completa */
  }
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: -1; /* Asegúrate de que esté detrás del contenido principal */
}

.logo {
  display: block;
  margin: 0 auto;
}